<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InkAndFrames</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
<!--The header, contains title, Menu, Searchbar and Login/Registration-->
<header id = header>
    <div id ="title">
    <h1 id="titleText">Ink&Frames</h1>
    </div>
    <nav id="menu">
        <i class="fa-solid fa-bars"></i>
        <span class="menu-text">Menu</span>
    </nav>
        <form id="search"action="/search" method="GET">
        <input id="searchbar" type="text" name="query" placeholder="Search movies...">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>

    <nav id="auth">
        <ul>
        <li id="signIn"><a href="/signIn">Sign in</a></li>
        <li id="signUp"><a href="/signUp">Sign up</a></li>
        </ul>
    </nav>
</header>

<!--The main page with two sidebars-->
<div class="mediaContainer">
    <div class="leftCon"> <img  class = "ink1" src="ink2.jpg" alt=""><img class="ink2" src="ink.png" alt=""></div>
    <div class= "main">
        <!--Iterates thorugh each item in the mediaData array and displays the title and average rating of the media item-->
        {{#each mediaData}}
        <div id="media1">
            <img id = "media1Img" src="fightclub.jpg" alt="">
            <div id = "media1InfoContainer">
            <h1>{{title}}</h1>
            <h1>
                <img src="star.png" alt="">
                {{avgRating}}/10</h1>
            </div>
            <h1>{{tag}}</h1>
        </div> 
        <!--End of iteration-->
        {{/each}}
    </div>

    <div class = "rightCon"><img  class = "frame" src="frame.png" alt=""><img  class = "frame2" src="frame.png" alt=""><img  class = "frame3" src="frame.png" alt=""><img  class = "frame4" src="frame.png" alt=""></div>
</div>
</body>
</html>