<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Login/Register</title>
</head>
<body style="display: flex; justify-content:center; align-items:center; height:100vh;">
    <div class="authCon">
        <form id="authForm" action="signIn" method="POST" onsubmit="return password_check('submit')">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="name-reg" name="name" placeholder="Username" required>                        
                    </div>
                    <div class="mb-3">
                        <!--kallar password_check varje gång en knapp släpps-->
                        <input type="password" class="form-control" id="password-reg" name="password" onkeyup="password_check()"  placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
    </div>
</body>
</html>