body{
    margin: 0;
    padding: 0;

}

 
/*The header*/

h1 {
    margin: 0; 
    padding: 0; 
}

h2{
    margin: 0;
    padding: 0;
}
#header{
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    height:10vh;
    width: 100%;
    display:flex;
    color: rgb(254, 253, 253);
    text-align: center;
    justify-content: center; 
    align-items: center; 
    border-bottom: 2px solid rgb(71, 71, 71);
}

#title{
width: 10vw;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

#titleText{
text-decoration: none;
list-style: none;
font-family: Impact, sans-serif;
display: flex;
align-items: center;
justify-content: center;
background-color: white;
color: rgb(0, 0, 0);
width: 80%;
height: 80%;
font-size: 2.7vh;
font-weight: 900;
border-radius: 1vh;
}

#menu{
width: 10vw;
display: flex;
align-items: center;
justify-content: flex-start;
height: 100%;
font-size: 3vh;
gap: 5px;
}
.menu-text{
    font-weight: bold;
    font-size: 3vh;
}

#search{
position: relative;
display: flex;
align-items: center;
justify-content: center;
width: 60vw;
height: 100%;
}

#searchbar{
    width: 80%;
    height: 50%;
    font-size: 3vh;
}

#search button {
    position: absolute;
    top: 0;
    right:4.5vw;
    width: 10%;
    height: 100%;
    background-color: transparent;
    border: none;
}

#search button i {
    color: #333;
}

#auth{
width: 20vw;
font-size: 3vh;
height: 100%;
}

#auth ul{
    color: white;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    height: 100%;
 }

#auth li a{
    color: white;
    text-decoration: none;
    font-weight: 150;
    font-size: 3vh;
    list-style: none;
 }

 #auth li a:hover{
background-color: #333;
 }

 #signOut{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: rgb(255, 255, 255);
    font-weight: 150;
    font-size: 3vh;
    margin: 0;
 }

 #signOut:hover{
background-color: #333;
 }




/*The main page*/
.sortCon{
    font-family: Impact, sans-serif;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-shadow: 3px 3px #272727;
    height: 5vh;
    color: rgb(172, 168, 168);
}

#filter{
    color: rgb(172, 168, 168);
    position: absolute;
    top: 12vh;
    left: 10vw;
    text-shadow: 3px 3px #272727;
    font-size: 3.5vh;
}

.sortList{
list-style: none;
position: absolute;
display: flex;
flex-direction: row;
width: 50%;
top: 12vh;
left: 10vw;
font-size: 3vh;
gap: 2vw;
}

.sortList li:hover{
text-decoration: underline black 0.7vh;
cursor: pointer;
}


.mediaContainer{
height: 85vh;
width: 100%;
background-color: red;
display: flex;
flex-direction: row;
}

.leftCon{
background-color: rgb(255, 255, 255);
width: 10%;
height: 100%;
display: flex;
justify-content: flex-start;
flex-direction: column;
border-right: 2vh solid rgb(71, 71, 71);
}

.ink1{
    width: 100%;
    height: 30%;
    object-fit: contain;
    position: relative;
    bottom: -2vh;
    transform: rotate(15deg);
    left: -2vw;
}

.ink2{
    width: 100%;
    height: 40%;
    object-fit: contain;
    position: relative;
    bottom: -3.2vh;
    transform: scaleY(-1);
    transform: rotate(-160deg);
    
}

.rightCon{
background-color: rgb(255, 255, 255);
width: 10%;
height: 100%;
position: relative;
overflow-x: hidden;
overflow-y: hidden;
 }

 .frame{
    height: 20%;
    position: absolute;
    transform: rotate(-20deg);
    right: 10%;
    bottom: 80%;
 }
 .frame2{
    height: 20%;
    transform: rotate(20deg);
    position: absolute;
    bottom: 58%;
 }
 .frame3{
    height: 20%;
    transform: rotate(-30deg);
    position: absolute;
    right: 15%;
    bottom: 35%;
 }
 .frame4{
    height: 20%;
    transform: rotate(40deg);
    position: absolute;
    bottom: 10%;
    right: 10%;
 }
 z

 .film2{
    height: 23%;
    position: absolute;
    left: -1.7vw;
    bottom:70%;
 }

.main{
border-top: 2vh solid rgb(71, 71, 71);
background-color: rgb(0, 0, 0);
width:80%;
height: 100%;
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-direction: row;
overflow-x: auto;
white-space: nowrap;
 }

 #media{
    flex: 0 0 auto;
    margin: 1%;
    height: 65vh;
    width: 18%;
    background-color: rgb(43, 43, 43);
    display: flex;
    flex-direction: column;
    border-radius:1vh;
    cursor: pointer;
 }

 #mediaInfoContainer{
    height: 100%;
    width: 20%;
    width: 100%;
 }

 #media h1{
    margin: 1vh;
    color: white;
    font-size: 3vh;
    display: flex;
    flex-direction: row;
    width: 100%;
}

 #mediaInfoContainer h1 img{
height: 12.5%;
width: 12.5%;
margin: 0;
align-self: flex-end;
}

/*Authentication*/

.authCon{
    color: white;
    display: flex;
    justify-self: center;
    align-self: center;
    background-image: url(ink3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100vh;
    width: 100vw;
    border-radius: 1vh;
}

#authForm{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    flex-direction: column;
}

.message{
    position:absolute;
    top: 30vh;
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    width: 25vw;
    height: 3vh;
    background-color: rgb(255, 0, 0);
}


/*Media*/
.mediaItemCon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 95vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 5%;
    padding-right: 5%;
    width: 70%;
}

#mediaItemImg{
background-color: black;
height: 100%;
width: 30%;
margin-right: 1%;
}

.mediaItemName{
width: 65%;
}

.mediaItemCon h1{
color: white;
font-size: 7vh;
font-weight: 150;
}
.mediaItemCon h2{
    color: rgb(210, 210, 210);
    font-weight: 150;
    font-size: 4vh;
}

.mediaItemCon h3{
    color: rgb(210, 210, 210);
    font-weight: 150;
    font-size: 3vh;
    margin: 0;
}

.mediaItemCon h3 img{
    height: 4vh;
    width: 4vh;
    margin: 0;
}

.ratingCon{
    padding-top: 2%;
    height: 100%;
    width: 20%;
}

.mediaItemInfo{
    height: 14%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    
}


.mediaItemInfoCon{
    display: flex;
    flex-direction: row;
}

.mediaItemImgCon{
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    justify-self: flex-end;
}
.description{
    display: flex;
    align-self: flex-start;
    width: 70%;
    height: 10%;
    font-size: 3vh;
    color: white;
}


/*drop down rating*/
.dropbtn{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: rgb(210, 210, 210);
    font-weight: 150;
    font-size: 3vh;
    margin: 0;
    position: relative;
}
.dropbtn img{
    height: 4vh;
    width: 4vh;
    margin: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }
  

@keyframes slideDown {
0% {
    height: 0;
    opacity: 0;
    color: transparent;
}
100% {
    height: 35vh;
    opacity: 1;
    color: white;
}
}
@keyframes slideDown2 {
    0% {
        height: 0;
        opacity: 0;
        color: transparent;
    }
    100% {
        height: 3.5vh;
        opacity: 1;
        color: white;
    }
}

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #313131;
    border-radius: 5%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    animation: slideDown 0.5s ease-out forwards;
  }
  
  /* Links inside the dropdown */
  .dropdown-content li {
    color: rgb(255, 255, 255);
    height: 3.5vh;
    display: flex;
    text-align: center;
    font-weight: light;
    text-decoration: none;
    font-size: 2.5vh;
    display: block;
    cursor: pointer;
    animation: slideDown2 0.5s ease-out forwards;
  }

  .dropdown-content li:hover {
background-color: black;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
