body{
    margin: 0;
    padding: 0;
    width: 100%;
}

 
/*The header*/

h1 {
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}
#header{
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    height:10vh;
    width: 100%;
    display:flex;
    color: rgb(254, 253, 253);
    text-align: center;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    border-bottom: 2px solid rgb(71, 71, 71);
}

#title{
width: 10vw;
display: flex;
justify-content: center;
}

#titleText{
background-color: white;
color: black;
width: 80%;
height: 80%;
font-size: 5vh;
border-radius: 10px;
}

#menu{
width: 10vw;
display: flex;
align-items: center;
justify-content: flex-start;
height: 100%;
font-size: 3vh;
gap: 5px;
}
.menu-text{
    font-weight: bold;
    font-size: 3vh;
}

#search{
position: relative;
display: flex;
align-items: center;
justify-content: center;
width: 60vw;
height: 100%;
}

#searchbar{
    width: 80%;
    height: 50%;
    font-size: 3vh;
}

#search button {
    position: absolute;
    top: 0;
    right:6vw;
    width: 10%; /* Adjust this value as needed */
    height: 100%;
    background-color: transparent;
    border: none;
}

#search button i {
    color: #333; /* Adjust the color of the icon as needed */
}

#auth{
width: 20vw;
font-size: 3vh;
height: 100%;
}

#auth ul{
    color: white;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    height: 100%;
 }

#auth li a{
    color: white;
    text-decoration: none;
    list-style: none;
 }

/*The main page*/
.mediaContainer{
height: 90vh;
width: 100%;
background-color: red;
display: flex;
flex-direction: row;
}

.leftCon{
background-color: rgb(255, 255, 255);
width: 10%;
height: 100%;
display: flex;
justify-content: flex-start;
flex-direction: column;
border-right: 3px solid rgb(71, 71, 71);
}

.ink1{
    width: 100%;
    height: 30%;
    object-fit: contain;
    position: relative;
    bottom: -2vh;
    transform: rotate(15deg);
    left: -2vw;
}

.ink2{
    width: 100%;
    height: 40%;
    object-fit: contain;
    position: relative;
    bottom: -3.2vh;
    transform: scaleY(-1);
    transform: rotate(-160deg);
    
}

.rightCon{
background-color: rgb(255, 255, 255);
width: 10%;
height: 100%;
position: relative;
overflow-x: hidden;
overflow-y: hidden;
border-left: 3px solid rgb(71, 71, 71);
 }

 .frame{
    height: 20%;
    position: absolute;
    transform: rotate(-20deg);
    right: 10%;
    bottom: 80%;
 }
 .frame2{
    height: 20%;
    transform: rotate(20deg);
    position: absolute;
    bottom: 58%;
 }
 .frame3{
    height: 20%;
    transform: rotate(-30deg);
    position: absolute;
    right: 15%;
    bottom: 35%;
 }
 .frame4{
    height: 20%;
    transform: rotate(40deg);
    position: absolute;
    bottom: 10%;
    right: 10%;
 }
 z

 .film2{
    height: 23%;
    position: absolute;
    left: -1.7vw;
    bottom:70%;
 }

.main{
background-color: rgb(0, 0, 0);
width:80%;
height: 100%;
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-direction: row;
overflow-x: auto; /* Enable horizontal scrolling */
white-space: nowrap;
 }

 #media1{
    flex: 0 0 auto; /* Prevent items from stretching */
    margin: 1%;
    height: 65vh;
    width: 18%;
    background-color: rgb(43, 43, 43);
    display: flex;
    flex-direction: column;
    border-radius:1vh;
 }

 #mediac1Img{
    height: 60%;
 }

 #media1InfoContainer{
    height: 100%;
    width: 20%;
    width: 100%;
 }

 #media1InfoContainer h1{
    color: white;
    font-size: 3vh;
    display: flex;
    flex-direction: row;
    width: 100%;
 }

 #media1InfoContainer h1 img{
height: 12.5%;
width: 12.5%;
margin: 0;
align-self: flex-end;
}